<% @projects.each do |project| %>

 <div class = 'container'>
    <div class = 'well col-md-8 col-md-offset-2'>
        <div align = 'center'>
            <h1><%= link_to project.name, project_path(project), class: 'index-title' %></h1>
        </div> 
        <hr>
        <p align ='left'><%= project.description %></p>
                <hr>
        <p>
            Start Date: <%= project.start_date.strftime("%d-%B-%y") %>
        </p>
        <p>
            End Date: <%= project.end_date.strftime("%d-%B-%y") %>
        </p>
        <!--<hr>-->
        <!--<div class = 'row'>-->
        <!--    <%= link_to 'Edit Project', edit_project_path(project), class: 'btn btn-warning btn-xs' %>-->
        <!--</div>-->
    </div>
</div>

<% end %>