<h1 align = 'center'><%= @project.name %></h1>


 <div class = 'container'>
    <div class = 'well col-md-8 col-md-offset-2'>
        <p align ='left'><%= @project.description %></p>
                <hr>
        <p>
            Start Date: <%= @project.start_date.strftime("%d-%B-%y") %>
        </p>
        <p>
            End Date: <%= @project.end_date.strftime("%d-%B-%y") %>
        </p>
         <p>
             Completed: 
             <% if @project.project_complete %>
                 Yes, <%= @project.completed_time.strftime("%d-%B-%y") %>
             <% else %>
                 No
             <% end %>
         </p>
        <hr>
        <div class = 'row'>
            <%= link_to 'Edit Project', edit_project_path(@project), class: 'btn btn-warning btn-xs' %>
            <%= link_to 'Back to All Projects', projects_path(@project), class: 'btn btn-primary btn-xs' %>
        </div>
    </div>
</div>

<h3 align = 'center'>Work Logs</h3>

<% if @project.project_logs.any? %>
    <% @project.project_logs.each do |log| %>
        <div align = 'center'>
            <p>Heading: <%= log.heading %></p>
            <p>Details: <%= log.details %></p>
            <%= link_to 'Edit', edit_project_project_log_path(@project, log), class: 'btn btn-warning btn-xs' %>
            <%= link_to 'Delete', project_project_log_path(@project, log), method: :delete, data: {confirm: "Are You Sure?" }, class: 'btn btn-danger btn-xs' %>
        </div>
    <% end %>

<% else %>
    <div align = 'center'>
        <%= link_to "Add Log", new_project_project_log_path(@project), class: 'btn btn-success btn-xs' %>
    </div>
    
<% end %>